@tailwind utilities;
@import "tailwindcss";

@theme {
  --color-primary: #1e40af;
  --color-secondary: #9333ea;
  --color-Bgblack: #000000d2;
  --color-black-transparent: #030202e5;
  --color-nav : #00000027;

  --font-sans: var(--font-poppins-sans), sans-serif;
  --font-anton: var(--font-anton), Anton, sans-serif;
}




:root {
  --background: #1d1b1b;
  --text-color: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1b1bf5;
    --foreground: #ededed;
  }
}




body {
 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 background: url("/fundo.jpg") no-repeat center center / cover; 
  color: var(--text-color);
  font-family: var(--font-poppins-sans);
  overflow-x: hidden;
 
}

body::before {
  content: "";
  position: fixed; 
  inset: 0;
  background: var(--color-black-transparent);
  z-index: -1; 
} 
