@tailwind utilities;
@import "tailwindcss";

@theme {
  --color-primary: #1e40af;
  --color-secondary: #9333ea;

  --font-sans: var(--font-poppins-sans), sans-serif;
  --font-anton: var(--font-anton), Anton, sans-serif;
}




:root {
  --background: #1d1b1b;
  --text-color: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1b1bf5;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-poppins-sans);
}
